<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>userName</key>
		<string>ssmith123</string>
		<key>firstName</key>
		<string>Shelly</string>
		<key>lastName</key>
		<string>Smith</string>
		<key>city</key>
		<string>Spokane</string>
		<key>state</key>
		<string>WA</string>
		<key>zipCode</key>
		<string>98000</string>
		<key>phoneNumber</key>
		<string>555-456-7890</string>
	</dict>
</array>
</plist>
