<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>userName</key>
		<string></string>
		<key>firstName</key>
		<string></string>
		<key>lastName</key>
		<string></string>
		<key>city</key>
		<string></string>
		<key>state</key>
		<string></string>
		<key>zipCode</key>
		<string></string>
		<key>phoneNumber</key>
		<string></string>
	</dict>
</array>
</plist>
